[req]
prompt = no
distinguished_name = req_distinguished_name

[req_distinguished_name]
C  = RS
ST = Serbia
L  = Belgrade
O  = Aleksandar Rakić
OU = Security Department
CN = localhost
emailAddress = aleksandar.rakic@yahoo.com